*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    --nav-height: 50px;
    --px-page: 18px;
}


/* -----Utils----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-none {
    flex: none;
}

.flex-1 {
    flex: 1;
}


/* @import url('./sidebar.css'); */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236)
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    flex: none;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.filterbar-container {
    display: flex;
    width: 100%;
    /* height: 80px; */
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex-basis: auto;
    gap: 12px;
    align-items: center;
}

.filter-sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 0; */
    width: 100%;
    background: rgb(232, 236, 238);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 600ms ease;
}

.filter-sidebar-container[open] {
    left: 0;
}

.filter-sidebar-container:not([open]) {
    left: 100%;
}

.filter-dropdown,
.filter-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 6px;
}

.filter-dropdown>select {
    flex: 1;
    border: none;
    padding: 8px;
}

.sidebar-title-container {
    top: 22px;
    right: 22px;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
}

.sidebar-title-container span {
    font-size: 1.25rem;
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    color: rgb(54, 54, 54);
}

select {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(134, 134, 134);
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
}

.filter-button {
    display: block;
    margin-top: 16px;
    border: none;
    border-radius: 35px;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 8px 24px;
    text-align: center;
    box-shadow: -1px 3px 10px rgba(201, 201, 201, 0.5);
}


/* -----Card----- */

.card-list-container {
    padding: var(--px-page);
    flex: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30vh;
    gap: 12px;
}

.card {
    padding: 8px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    width: 100%;
    display: flex;
}

.card-main-content {
    flex: 1;
}

.card-content-left {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price {
    font-size: 0.9rem;
}

.card-content-left svg {
    width: 22px;
    height: 22px;
}

.card-extrainfo-container {
    display: none;
}


/* -------Nav------ */

ul {
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    background: white;
    left: -40%;
    text-align: left;
    padding-left: 50px;
    transition: all .5s ease;
    background-color: rgb(228, 183, 228);
}

header {
    flex: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header nav {
    height: var(--nav-height);
    padding: 0 var(--px-page);
    display: flex;
    align-items: center;
}

nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
}

nav ul li a {
    font-size: 16px;
}

#checkId:checked~ul {
    left: 0;
}

#checkId {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: 500;
}

label.logo {
    font-size: 1.4rem;
    font-weight: bold;
}


/* -----Filter Button----- */

.filter-btn {
    margin-top: var(--px-page);
    margin-left: var(--px-page);
    margin-right: var(--px-page);
    padding: 12px;
    border-radius: 18px;
    background: rgb(186, 209, 226);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}


/* Small Screen Media Query */

@media (min-width: 576px) {
    nav ul {
        margin-right: 20px;
        float: right;
    }
    nav ul li {
        display: inline-block;
        line-height: 50px;
        margin: 0 20px;
    }
    nav ul li a {
        text-transform: uppercase;
    }
    select {
        border-radius: 20px;
        padding: 2px 6px;
    }
    label.checkbtn {
        display: none;
    }
    .card-list-container {
        /* display: flex;
        flex-direction: column; */
        /* align-items: stretch; */
        grid-template-columns: repeat( auto-fit, minmax(450px, 1fr));
        grid-auto-rows: 170px;
        gap: 0px;
    }
    .card {
        margin: 12px;
        padding: 12px;
        height: 150px;
        display: flex;
        border-radius: 16px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        box-shadow: -1px 3px 10px rgba(201, 201, 201, 0.5);
    }
    .card:hover {
        transform: scale(1.01);
        background: rgb(225, 241, 254);
    }
    .card img {
        width: 150px;
        height: 100%;
        margin-right: 12px;
    }
    .card-content {
        flex: 1;
    }
    .card-title {
        font-size: 1.15rem;
        font-weight: 500;
    }
    .card:hover .card-title {
        font-weight: 700;
    }
    .card-price {
        font-size: 1.25rem;
        font-weight: bold;
        color: rgb(54, 132, 191);
    }
    .card:hover .card-price {
        color: rgb(54, 132, 191);
    }
    .card-extrainfo-container {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 3px;
        font-size: 0.80rem;
        color: gray;
    }
    .info-item {
        display: flex;
    }
    .info-name {
        flex: none;
        width: 85px;
    }
    .info-value {
        flex: 1;
    }
}


/* Medium Screen Media Query */

@media (min-width: 992px) {
    label.logo {
        font-size: 2.5rem;
    }
    nav ul li a {
        font-size: 2rem;
    }
}