*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

:root {
    --nav-height: 50px;
    --px-page: 18px;
    --bg-body: rgb(231, 231, 231);
    --bg-footer: rgb(202, 202, 202);
    --bg-card: rgb(255, 255, 255);
    --color-footer: rgb(99, 99, 99);
}


/* -----Utils----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-none {
    flex: none;
}

.flex-1 {
    flex: 1;
}


/* @import url('./sidebar.css'); */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-body);
}

main {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: var(--bg-footer);
    padding: 1rem;
    flex-basis: auto;
    color: var(--color-footer);
}

footer a {
    color: rgb(84, 148, 207);
    text-decoration: underline;
}


/* -----Filter Bar----- */

.filterbar-container {
    display: flex;
    width: 100%;
    /* height: 80px; */
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    flex-basis: auto;
    gap: 12px;
    align-items: center;
}

.filter-sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 0; */
    width: 100%;
    max-width: 800px;
    background: rgb(232, 236, 238);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 600ms ease;
    z-index: 10;
}

.filter-sidebar-container[open] {
    right: 0;
}

.filter-sidebar-container:not([open]) {
    right: -100%;
}

.filter-dropdown,
.filter-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 6px;
}

.filter-dropdown>select {
    flex: 1;
    border: none;
    padding: 8px;
}

.sidebar-title-container {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
}

.sidebar-title-container span {
    font-size: 1.25rem;
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    color: rgb(54, 54, 54);
}

select {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(134, 134, 134);
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
}

.filter-button {
    display: block;
    margin-top: 16px;
    border: none;
    border-radius: 35px;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 8px 24px;
    text-align: center;
    box-shadow: -1px 3px 10px rgba(201, 201, 201, 0.5);
}

.filter-button:hover {
    transform: scale(1.01);
    text-decoration: underline;
}

.filter-btn {
    margin-top: var(--px-page);
    margin-left: var(--px-page);
    margin-right: var(--px-page);
    padding: 12px;
    border-radius: 18px;
    background: rgb(186, 209, 226);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.filter-btn:hover {
    transform: scale(1.01);
    text-decoration: underline;
}


/* -----Card----- */

.card-list-container {
    padding: var(--px-page);
    flex: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30vh;
    gap: 12px;
}

.card {
    padding: 8px;
    background: var(--bg-card);
    border-radius: 12px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    width: 100%;
    display: flex;
}

.card-main-content {
    flex: 1;
}

.card-content-left {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price {
    font-size: 0.9rem;
}

.card-content-left svg {
    width: 22px;
    height: 22px;
}

.card-extrainfo-container {
    display: none;
}


/* -------Nav------ */

header {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

nav.navigation {
    display: none;
}

nav.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: var(--nav-height);
    left: 0;
    background: white;
}

nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
}

nav.navigation.active a {
    padding: 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

li:hover {
    font-weight: bold;
}

.material-icons.menu.hide {
    display: none;
}

.material-icons.menu.show {
    display: flex;
}

.material-icons.close {
    display: none;
}

.material-icons.close.show {
    display: flex;
}


/* Small Screen Media Query */

@media (min-width: 576px) {
    nav.navigation {
        display: flex;
    }
    .material-icons.menu {
        display: none;
    }
    .material-icons.close {
        display: none;
    }
    .navigation ul li {
        display: inline-block;
    }
    nav.navigation a {
        font-size: 16px;
        padding: 16px;
        color: black;
        text-decoration: none;
    }
    select {
        border-radius: 20px;
        padding: 2px 6px;
    }
    .card-list-container {
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
        grid-auto-rows: 150px;
    }
    .card {
        padding: 12px;
        display: flex;
        border-radius: 16px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        box-shadow: -1px 3px 10px rgba(201, 201, 201, 0.5);
    }
    .card:hover {
        transform: scale(1.01);
        background: rgb(225, 241, 254);
    }
    .card img {
        width: 150px;
        height: 100%;
        margin-right: 12px;
    }
    .card-content {
        flex: 1;
    }
    .card-title {
        font-size: 1.15rem;
        font-weight: 500;
    }
    .card:hover .card-title {
        font-weight: 700;
    }
    .card-price {
        font-size: 1.25rem;
        font-weight: bold;
        color: rgb(54, 132, 191);
    }
    .card:hover .card-price {
        color: rgb(54, 132, 191);
    }
    .card-extrainfo-container {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 3px;
        font-size: 0.80rem;
        color: gray;
    }
    .info-item {
        display: flex;
        align-items: center;
    }
    .info-name {
        width: 80px;
        font-weight: 500;
    }
    .info-value {
        flex: 1;
    }
    .filter-sidebar-container {
        padding: 0 40px;
    }
    .sidebar-title-container {
        padding: 32px 0;
    }
}

body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    background-color: lightgray;

}
p, ul {
    font-size: 16px;
}
ul {
    color: red;
}
h2 {
    font-size: 30px;
    color: olive;
}
header {
    padding: .5em;
    text-align: center;
    font-size: 120%;
    color: navy;
}

/* Medium Screen Media Query */

@media (min-width: 992px) {
    .logo {
        font-size: 1.5rem;
    }
    nav ul li a {
        font-size: 2rem;
    }
}
